@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: AgencyFb;
    src: url('./agency_fb.ttf');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    min-width: 320px;
}

img {
    width: 100%;
}

@media screen and (max-width:500px) {
    .mobile_hide{
        display: none !important;
    }
}

@media screen and (min-width:500px) {
    .desktop_hide{
        display: none !important;
    }
}

@media screen and (min-width:1400px) {
        .max_width{
        max-width: 1200px;
        margin: auto;
    }
}

.checkbox{
    opacity: 0;
    pointer-events: none;
}

.bg_btn {
    background: #fff;
    border: 2px solid #2150a5;
    padding: 10px 20px;
    color: #2150a5;
    border-radius: 5px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    @media screen and (max-width: 500px) {
        padding: 6px 10px;
        font-size: 18px;
    }
}



a {
    text-decoration: none;
}

.btn_bg{
    background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

input:active,
input:focus {
    outline: none;
}

.space-20 {
    height: 20px;
}

.space-40 {
    height: 40px;
}

.height-400px{
    height: 400px;
    border-radius: 6px;

    @media screen and (max-width:500px) {
        height: 200px;
    }
}

.slider_about_height{
    height: 400px;

    @media screen and (max-width:500px) {
        height: 200px ;
    }
}

.agency-fb{
    font-family: AgencyFb;
}

.mobile-hide{
    @media screen and (max-width:500px) {
        display: none;
    }
}

.card_change{

    span{
        width: 60%;

        @media screen and (max-width:500px) {
            width: 100%;
        }
    }

    a{
        font-size: 16px !important;
    }
}

.social-links {
    position: fixed;
    width: 40px;
    min-height: 40px;
    top: 35%;
    right: 10px;
    list-style: none;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 15px;
    z-index: 998;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    gap: 10px;
    transition: left 300ms ease-out;

    @media screen and (max-width:500px) {
        top: 35%;
    }

    img {
        width: 25px;
        height: 25px;
    }
}

.popup_active {
    opacity: 1 !important;
    pointer-events: auto !important;
}

.modified_popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(33, 79, 165, 0.4);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;

    .popup_container {
        width: 50%;
        min-height: 370px;
        border-radius: 7px;
        background: white;
        padding: 40px;
        padding-top: 60px;
        position: absolute;
        z-index: 3;
        @media screen and (max-width: 1024px) {
            width: 95%;
        }

        .box {
            position: absolute;
            border: 2px solid black;
            width: 100%;
            height: 100%;
        }
    }

    .cross {
        position: absolute;
        right: 10px;
        top: -20px;
        font-size: 30px;
        margin-top: 20px;

        button {
            width: 30px;
            height: 20px;
            border: none;
            background: none;
        }
    }

    @media screen and (max-width:767px) {
        .mobile-hide {
            display: none;
        }
    }

    input {
        border: none;
        width: 100%;
        height: 40px;
        margin-top: 20px;
        padding: 5px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.377);
        font-size: 16px;
        color: black;
        transition: all 300ms ease-in-out;
    }

    .custom_btn {
        margin-top: 20px;
        width: 100%;
        height: 35px;
        border-color: #000;
        background: transparent;
        font-size: 20px;
        font-weight: 400;
        transition: all 300ms ease-in;
    }
    img {
        margin-top: 20px;
    }

    .custom_btn:hover,
    .custom_btn:focus {
        color: white;
        background: black;
    }

    input:active,
    input:focus {
        border-bottom: 2px solid #2150a5;
    }

    .heading {
        width: 100%;
        text-transform: capitalize;

        h4 {
            font-weight: bolder;
        }
    }
}

nav {
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    padding: 10px;
    z-index: 999;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);


    .nav_menu_btn{
        width: 30px;

        @media screen and (min-width:781px) {
            display: none;
        }
    }

    .link_image {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        @media screen and (max-width:780px) {
            justify-content: flex-start;
        }
    }

    ul.active{
        right: 0 !important;
    }

    ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 0 10px;
        margin: 0;

        @media screen and (max-width:780px) {
            all: unset;
            position: fixed;
            top: 0;
            bottom: 0;
            right: -100%;
            width: 70%;
            background: white;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            padding-top: 60px;
            gap: 20px;
            box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
            z-index: 9999;
            transition: all 400ms ease-in-out;
        }

        button.close{
            background: transparent;
            border: none;
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 50px;

        @media screen and (min-width:781px) {
            display: none;
        }
        }

        a{
            font-size: 17px;

            @media screen and (max-width:780px) {
               font-size: 20px;
               display: block;
            }
        }
    }

    .image_logo {
        width: 50px;
        height: 40px;
        border-radius: 100%;
    }

    .logo_text {
        color: #2150a5;
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
    }
}

#login{
    min-height: 78.3vh;
    padding-top: 40px;
    background-image: url(../images/login_bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    h4{
        font-weight: bold;
    }
}

#hero {
    padding: 20px;
    min-height: 100px;
    background: #edf3f8;
    padding-top: 95px;

    @media screen and (max-width:500px) {
        padding-top: 20px;
    }

    .hero_header {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            padding: 20px;
            margin-top: -50px;
            width: 200px;
            height: 150px;

            @media screen and (max-width: 500px) {
                margin-top: auto;
                width: 150px;
                height: 120px;
            }
        }
    }

    .heading_text{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        h1 {
            text-transform: uppercase;
            font-size: 60px;
            color: #2150a5;
            font-weight: 700;

            @media screen and (max-width: 500px) {
                font-size: 30px;
            }
        }

    }
    .hero_text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        blockquote {
            margin-left: 60px;
            text-transform: capitalize;
            font-size: 25px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 500px) {
                font-size: 18px;
                text-align: center;
                margin: auto;
            }
        }

        h1 {
            margin-left: 60px;
            text-transform: uppercase;
            font-size: clamp(20px,6vw,60px);
            color: #2150a5;
            font-weight: 700;

            @media screen and (max-width: 500px) {
                margin: auto;
                font-size: 20px;
                text-align: center;
            }
        }
    }
}

#swiper_section {
    padding: 20px;
    min-height: 400px;
    @media screen and (max-width: 500px) {
        min-height: 200px;
    }

    #mySwiper {
        // max-width: 1200px;
        height: 500px;
        @media screen and (max-width: 500px) {
            height: 200px;
        }
    }

    .default_slider {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
        border-radius: 10px;

        h2 {
            text-transform: capitalize;
            font-size: 60px;
            margin-bottom: 30px;
            font-weight: bolder;
            color: #fff;
            @media screen and (max-width: 500px) {
                font-size: 30px;
            }
        }


    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        content: 'next';
        @media screen and (max-width:500px) {
            font-size: 25px;
        }
    }

    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        content: 'prev';
        @media screen and (max-width:500px) {
            font-size: 25px;
        }
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

#imageText {
    // padding: 20px;
    min-height: 400px;


    .title {
        h5{
            font-weight: bold;
        }
        p{
            font-size: 15px;
            text-transform: capitalize;
        }
    }

    .flipped {
        flex-direction: row-reverse;

        .title{
            text-align: right !important;
        }
    }

    .image img {
        border-radius: 10px;
    }

    .image video {
        width: 100%;
        height: 400px;
    }

    .form_logo {
        width: 100%;
        height: 100%;
        @media screen and (max-width: 500px) {
            width: 200px;
            height: 100px;
            margin-bottom: 20px;
        }
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        .title{
            text-align: left;
        }

        @media screen and (max-width:500px) {
            .title{
                text-align: center !important;
            }
        }
    }

    .card_container {
        padding: 15px;
    }

    .form {
        width: 100%;

        label {
            font-weight: bold;
            text-transform: capitalize;

            @media screen and (max-width: 500px) {
                font-size: 14px;
            }
        }
    }

    .feedback-title {
        text-transform: capitalize;
        @media screen and (max-width: 500px) {
            h2 {
                font-size: 15px;
            }
        }
    }

    .btn-color {
        background: #2150a5;
        text-transform: capitalize;
        color: white;
    }
}

.certificate {
    width: 100%;
    height: 300px;
    margin: auto;
}

#iso_number{
    min-height: 100px;
    padding: 20px;

    img{
        width: 80px;
        @media screen and (max-width:500px) {
            width: 40px;
        }
    }

    .cin{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span{
            font-size: 20px;
            text-transform: capitalize;
            font-weight: bold;
            text-transform: uppercase;

            @media screen and (max-width:500px) {
                font-size: 16px;
            }
        }
    }
}

#contact-page{
    min-height: 50px;
    padding: 20px;

    .contact_card{
        min-height:100px;

        @media screen and (max-width:500px) {
           padding: 15px;
        }

        .title{
            width: 100%;
            text-transform: capitalize;
            letter-spacing: 2px;
            font-weight: bold;
        }

        .card_subtitle{
            display: flex;
            justify-content: flex-start;
            gap: 10px;

            @media screen and (max-width:500px) {
                gap: 2px;
                flex-direction: column;
            }

            span{
                font-size: 20px;
                font-weight: bold;
            }

            span.hide{
                @media screen and (max-width:500px) {
                    display: none;
                }
            }

            span,a{
                font-size: 20px;
                text-transform: capitalize;
            }
        }

    }

    .social_card{
        min-height:50px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;

        @media screen and (max-width:500px) {
           padding: 15px;
           gap: 20px;
        }

        .social_link{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            img{
                width: 20px;
                height: 20px;
            }

            span{
                font-size: 20px;
                text-transform: capitalize;
            }
        }
    }
}

#gmap{
    min-height: 300px;
    padding: 20px;

    iframe{
        width: 100%;
        height: 300px;
        border: none;
        border-radius: 10px;
    }
}

#courses{
    min-height: 300px;
    padding: 20px 0;

    @media screen and (max-width:500px) {
        padding: 10px;
    }

    .card-manage{
        width: 100%;
        border-radius: 0;
        min-height: 300px;
        border: none;
        padding: 0;
        transition: all 200ms ease-in;

        &:hover{
            box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2),-2px -3px 5px rgba(0, 0, 0, 0.2);
        }

        @media screen and (max-width:500px) {
            box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2),-2px -3px 5px rgba(0, 0, 0, 0.2);
        }

        a{
            color: black;
        }

        h5,h6{
            text-transform: capitalize;
            font-weight: bold;
        }

        h6{
            font-weight: bolder;

            span{
                color: rgb(196, 196, 196);
                font-weight: lighter;
                font-size: small;
                text-decoration:line-through;
            }
        }


    }
}

#course-hero{
    min-height: 400px;
    background: #161616;
    padding-top: 50px;
    padding-bottom: 50px;


    @media screen and (min-width:500px) {
        .desktop_flex_center{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }
    }

    @media screen and (max-width:576px) {
        padding: 20px;
        padding-top: 50px;

        .flex_reverse{
            flex-direction: column-reverse;
        }

        .mobile_margin_top{
            margin-top: 20px;
        }
    }

    h1{
        color: white;
        // text-align: center;
        text-transform: capitalize;
        font-size: clamp(20px,3vw,30px);
        font-weight: bolder;
    }

    p{
        color: white;
        // text-align: center;
        text-transform: capitalize;
        font-size: clamp(16px,2vw,20px);
    }

    .price{
        display: flex;
        gap: 10px;
         h2{
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }
    span{
        color: #f4f4f4;
        text-decoration: line-through;
        font-size: 15px;
        font-weight: lighter;
    }
}

    .buy_btn a{
        width: 100%;
        padding: 8px 18px;
        display: block;
        border: none;
        background: #fff;
        color: black;
        font-size: 20px;
        font-weight: bolder;
        text-transform: capitalize;
        text-align: center;

        transition: all 200ms ease-in;

        &:hover,&:focus{
            background: none;
            color: #fff;
            outline: 2px solid #fff;
        }
    }

    .image {
        position: relative;
        img{
        border-radius: 3px;

        @media screen and (min-width:1024px) {
            width: 500px;
            margin: auto;
        }
    }

    .play_btn{
        position: absolute;
        width: 100px;
        height: 100px;
        border: none;
        background: white;
        left: 40%;
        top: 30%;
        border-radius: 100%;

        img{
            width: 60px;
        }
    }
}

    .desktop_btn{
        background: #fff;
        width: 80%;
        margin: auto;
        margin-top: 20px;
        padding: 15px;
        border-radius: 4px;

        h2{
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .buy_btn{
            flex: .6;
        }

        a{
            width: 100%;
            padding: 8px 18px;
            display: block;
            border: none;
            background: #161616;
            color: white;
            font-size: 20px;
            font-weight: bolder;
            text-transform: capitalize;
            text-align: center;

            transition: all 200ms ease-in;

            &:hover,&:focus{
                background: none;
                color: #161616;
            }
        }


        // .razorpay-payment-button{
        // button{
        //     width: 100%;
        //     padding: 8px 18px;

        //     border: none;
        //     background: #161616;
        //     color: white;
        //     font-size: 20px;
        //     font-weight: bolder;
        //     text-transform: capitalize;

        //     transition: all 200ms ease-in;

        //     &:hover,&:focus{
        //         background: none;
        //         color: #161616;
        //         outline: 2px solid #161616;
        //     }
        // }
    }
}

#video_overlay.active{
    top: 0;
    bottom: 0;

    .video_container{
        opacity: 1;
    }
}

#video_overlay{
    position: fixed;
    top: 100%;
    bottom: auto;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms linear;

    .video_container{
        width: 50%;
        min-height: 100px;
        background: transparent;
        border-radius: 10px;
        padding: 0;
        position: relative;
        opacity: 0;
        transition: all 300ms linear;

        @media screen and (max-width:500px) {
            padding: 0;
            width: 95%;
        }

        .close{
            position: absolute;
            width: 30px;
            right: 5px;
            top: 5px;
            cursor: pointer;
            z-index: 999;
        }

        video{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }

}

#buynow{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: 60px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);

    h2{
        font-weight: bold;
        font-size: 20px;
    }

    .buy_btn{
        flex: .6;
    }

    a{
        width: 100%;
        padding: 8px 18px;
        display: block;
        border: none;
        background: #161616;
        color: white;
        font-size: 20px;
        font-weight: bolder;
        text-transform: capitalize;
        text-align: center;
        transition: all 200ms ease-in;

        &:hover,&:focus{
            background: none;
            color: #161616;
        }

    }
}

#description{
    min-height: 400px;
    padding: 20px;

    .course_description{
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;

        h3{
            text-transform: capitalize;
            font-weight: bold;
        }

        p{
            font-size: 17px;
        }

        ul{

            li{
                margin-bottom: 10px;
            }
        }
    }

}

#checkout{
    min-height:85vh;

    .checkout-wrapper{
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width:500px) {
            max-width: 450px;
            margin: auto;
            height: 700px;
        }
    }

    img{
        height: 250px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .checkout_card{
        background: rgb(255, 255, 255);
        width: 100%;
        min-height: 100px;
        padding: 20px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        h1{
            font-size: 20px;
            font-weight: bold;
        }

        h2{
            font-size: 18px;
        }

        .razorpay-payment-button{
            width: 100%;
            padding: 8px 18px;
            display: block;
            border: none;
            background: #161616;
            color: white;
            font-size: 20px;
            font-weight: bolder;
            text-transform: capitalize;
            text-align: center;
            transition: all 200ms ease-in;

            &:hover,&:focus{
                background: none;
                color: #161616;
                outline: 2px solid #161616;
            }

        }

    }
}

#gstnumber{
    width: 100%;
    min-height: 50px;
    background-color: #000;
    padding: 20px;


    span{
        color: rgba(255, 255, 255, 0.8);
    }
}

#terms{
    min-height: 100vh;
    margin-top: 50px;

    .terms_tabs{
        display: flex;
        flex-direction: column;
        gap: 1px;

        button{
            width: 100%;
            border: none;
            background: transparent;
            text-align: end;
            padding: 8px 8px;
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
            border-right: 5px solid #d4d4d4;
            text-transform: capitalize;

            &:hover,&:focus,&.active{
                background: rgba(33, 79, 165, 0.2);
                border-right: 5px solid #2150a5;
            }
        }
    }

    .terms_description{
        padding-top: 40px;

        h1{
            text-transform: capitalize;
            font-weight: lighter;
            letter-spacing: 4px;
        }
    }
}

footer {
    width: 100%;
    min-height: 50px;
    background-color: #000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .links{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;

        @media screen and (max-width:781px) {
            gap: 20px;
        }

        svg{
            width: 30px;
            height: 30px;
        }
    }

    .terms{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;

        .term_link{
            color: rgba(255, 255, 255, 0.9);
        }

        .term_dot{
            display: flex;
            justify-content: center;
            align-items: center;

            svg{
                width: 10px;
                height: 10px;
                transform: rotate(45deg);
            }
        }

    }

    p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 0;
    }

}
